<h1 class="d-block text-success">Edit room</h1>
<form method="POST" action="/room/{{room._doc._id}}?_method=PUT">
    <div class="mb-3">
        <label for="room" class="form-label">Tên Phòng</label>
        <input type="text" name="name" class="form-control" id="room" value="{{room._doc.name}}">
    </div>
    <div class="mb-3">
        <label for="elec" class="form-label">Số Điện</label>
        <input type="text" name="elec" class="form-control" id="elec" value="{{room._doc.elec}}">
    </div>
    <div class="mb-3">
        <label for="water" class="form-label">Số Nước</label>
        <input type="text" name="water" class="form-control" id="water" value="{{room._doc.water}}">
    </div>
    <div class="mb-3">
        <label for="sv" class="form-label">Số Sinh Vien</label>
        <input type="text" name="sv" class="form-control" id="sv" value="{{room._doc.sv}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>